body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

h2 {
  text-align: center;
  color: #555;
}

form,
#quiz-container,
#login-container {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
select,
button {
  width: calc(100%); /* Adjust width to account for padding and borders */
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

button {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  padding: 12px;
}

button:hover {
  background-color: #45a049;
}

#login-container {
  text-align: center;
}

#login-container h2 {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding: 12px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #e1e1e1;
}

li.correct {
  background-color: #4caf50; /* Green for correct */
  color: white;
}

li.incorrect {
  background-color: #f44336; /* Red for incorrect */
  color: white;
}

/* Add this to App.css */

button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50; /* Default button color */
  color: white;
}

button:hover {
  background-color: #45a049;
}

button.logout {
  background-color: #f44336; /* Red color for logout */
}

button.logout:hover {
  background-color: #e53935;
}

/* Add this to App.css */

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50; /* Default button color */
  color: white;
}

button:hover {
  background-color: #45a049;
}

button.logout {
  background-color: #f44336; /* Red color for logout */
}

button.logout:hover {
  background-color: #e53935;
}

button.back-to-quiz-form {
  background-color: #2196f3; /* Blue color for back button */
}

button.back-to-quiz-form:hover {
  background-color: #0b79d0;
}

/* Media Queries for Mobile View */
@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px;
  }

  form,
  #quiz-container,
  #login-container {
    padding: 50px;
    /* width: 80%; */
    max-width: 800px;
    /* width: 100%; */
    /* height: 500px; */
  }

  h1,
  h2 {
    font-size: 1.5rem;
  }

  input[type="text"],
  select,
  button {
    padding: 10px;
    font-size: 0.9rem;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  form,
  #quiz-container,
  #login-container {
    width: 100%;
    padding: 60px;
  }

  h1,
  h2 {
    font-size: 1.2rem;
  }

  input[type="text"],
  select,
  button {
    padding: 10px;
    font-size: 0.8rem;
  }

  button {
    font-size: 13px;
    padding: 8px;
  }
}
